/*-- scss:rules --*/

/* Custom CSS for Reveal.js title slide */

// .reveal .slide-background:first-of-type {
//   background-color: #0f6e91; /* Background color (optional) */
//   background-image: url('data/logo.png'); /* Path to your logo */
//   background-size: 550px 550px; /* Adjust the size of the logo */
//   // background-position: center left; /* Adjust logo position (top-right corner) */
//   // background-position-x: 50px;
//   background-position: center;
//   background-position-y: 0px;

//   background-repeat: no-repeat; /* Ensure the logo isn't repeated */
// }


// .reveal .slide > section:first-of-type h1 {
//   max-width: 10%;
//   color: #be1414;  /* Title color */
// }

// // /* Style the main title */
// // .reveal .slide > section:first-of-type h1 {
// //   text-align: right; /* Center the title */
// //   // max-width: 60%;
// //   color: #ffffff;  /* Title color */
// // }

// /* Style the subtitle */
// .reveal .slide:first-of-type h2 {
//   color: #e10dd3; /* Change subtitle color */
//   text-align: right; /* Center the subtitle */
// }

// /* Style the author name */
// .reveal .slide:first-of-type .author {
//   color: #d2f106;
//   text-align: right;
//   margin-top: 20px;
// }

// /* Style the date */
// .reveal .slide:first-of-type .date {
//   color: #0de538;
//   text-align: right;
//   margin-top: 10px;
// }



/* Custom CSS for Reveal.js slides */

.reveal h1 {
  text-align: left;
  vertical-align: top;
  color: #0f6e91;
}

.reveal h2 {
  color: #0f6e91;
}

/* Define the tbbox style */

.tbboxh {
    position: relative;
    background-color: #ffffff; /* Box background color */
    border: 5px solid #0f6e91; /* Border color */
    border-radius: 15px; /* Rounded corners */
    padding: 20px;
    margin-top: 30px; /* Space between the box and previous content */
    margin-bottom: 40px; /* Space below the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

/* Title Styling */
.tbboxh-title {
    position: absolute;
    top: -40px; /* Position above the border */
    left: 20px; /* Align horizontally */
    background-color: #0f6e91; /* Title background */
    color: white; /* Title text color */
    padding: 10px 10px;
    font-weight: bold;
    border-radius: 15px; /* Slightly rounded title corners */
    white-space: nowrap; /* Prevent text wrapping */
    margin-bottom: -20px; /* Creates negative margin to ensure space outside the border */
}



/* Define the tbbox style */
.tbbox {
  position: relative;
  background-color: #ffffff; /* Box background color */
  border: 5px solid #0f6e91; /* Border color */
  border-radius: 25px; /* Rounded corners */
  padding: 20px;
  padding-top: 30px;
  margin-top: 40px; /* Space between the box and previous content */
  margin-bottom: 40px; /* Space below the box */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

/* Title Styling */
.tbbox h4 {
  position: absolute;
  top: -40px; /* Position above the border */
  left: 20px; /* Align horizontally */
  background-color: #0f6e91; /* Title background */
  color: white; /* Title text color */
  padding: 10px 10px;
  font-weight: bold;
  border-radius: 18px; /* Slightly rounded title corners */
  white-space: nowrap; /* Prevent text wrapping */
  margin-bottom: -20px; /* Creates negative margin to ensure space outside the border */
}

/* Title Styling */
.tbbox .titlebox {
  position: absolute;
  top: -40px; /* Position above the border */
  left: 20px; /* Align horizontally */
  background-color: #0f6e91; /* Title background */
  color: white; /* Title text color */
  padding: 0px 20px;
  font-weight: bold;
  border-radius: 15px; /* Slightly rounded title corners */
  white-space: nowrap; /* Prevent text wrapping */
  margin-bottom: -20px; /* Creates negative margin to ensure space outside the border */
}

.MJX-TEX {
  font-family: "Arial Narrow";
}


// .reveal .slide > section:first-of-type h1 {
//   max-width: 10%;
//   color: #be1414;  /* Title color */
// }



.reveal .title:first-of-type {
  text-align: right; /* Center the title */
  max-width: 60%;
  color: #0a0909;  /* Title color */
}

.reveal .subtitle:first-of-type {
  text-align: right; /* Center the title */
  max-width: 60%;
  color: #4c0a0a;  /* Title color */
}

.reveal .quarto-title-author:first-of-type {
  text-align: right; /* Center the title */
  max-width: 60%;
  color: #3a14c6;  /* Title color */
}

.reveal .date {
  text-align: right; /* Center the title */
  max-width: 60%;
  color: #10e71e;  /* Title color */
}
