/*-- scss:rules --*/

/* Custom CSS for Reveal.js title slide */

.reveal .slide-background:first-of-type {
  background-color: #0f6e91; /* Background color (optional) */
  background-image: url('data/logo.png'); /* Path to your logo */
  background-size: 150px 150px; /* Adjust the size of the logo */
  background-position: center left; /* Adjust logo position (top-right corner) */
  background-position-x: 50px;
  background-repeat: no-repeat; /* Ensure the logo isn't repeated */
}




/* Style the main title */
.reveal .slide > section:first-of-type h1 {
  text-align: right; /* Center the title */
  max-width: 60%;
  color: #ffffff;  /* Title color */
}

/* Style the subtitle */
.reveal .slide:first-of-type h2 {
  color: #ffffff; /* Change subtitle color */
  text-align: right; /* Center the subtitle */
}

/* Style the author name */
.reveal .slide:first-of-type .author {
  color: #ffffff;
  text-align: right;
  margin-top: 20px;
}

/* Style the date */
.reveal .slide:first-of-type .date {
  color: #ffffff;
  text-align: right;
  margin-top: 10px;
}



/* Custom CSS for Reveal.js slides */

.reveal h1 {
  text-align: left;
  vertical-align: top;
  color: #0f6e91;
}

.reveal h2 {
  color: #0f6e91;
}

/* Define the tbbox style */

.tbboxh {
    position: relative;
    background-color: #ffffff; /* Box background color */
    border: 5px solid #0f6e91; /* Border color */
    border-radius: 15px; /* Rounded corners */
    padding: 20px;
    margin-top: 30px; /* Space between the box and previous content */
    margin-bottom: 40px; /* Space below the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

/* Title Styling */
.tbboxh-title {
    position: absolute;
    top: -40px; /* Position above the border */
    left: 20px; /* Align horizontally */
    background-color: #0f6e91; /* Title background */
    color: white; /* Title text color */
    padding: 10px 10px;
    font-weight: bold;
    border-radius: 15px; /* Slightly rounded title corners */
    white-space: nowrap; /* Prevent text wrapping */
    margin-bottom: -20px; /* Creates negative margin to ensure space outside the border */
}



/* Define the tbbox style */
.tbbox {
  position: relative;
  background-color: #ffffff; /* Box background color */
  border: 5px solid #0f6e91; /* Border color */
  border-radius: 25px; /* Rounded corners */
  padding: 20px;
  padding-top: 30px;
  margin-top: 40px; /* Space between the box and previous content */
  margin-bottom: 40px; /* Space below the box */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

/* Title Styling */
.tbbox h4 {
  position: absolute;
  top: -40px; /* Position above the border */
  left: 20px; /* Align horizontally */
  background-color: #0f6e91; /* Title background */
  color: white; /* Title text color */
  padding: 10px 10px;
  font-weight: bold;
  border-radius: 18px; /* Slightly rounded title corners */
  white-space: nowrap; /* Prevent text wrapping */
  margin-bottom: -20px; /* Creates negative margin to ensure space outside the border */
}

/* Title Styling */
.tbbox .title {
  position: absolute;
  top: -40px; /* Position above the border */
  left: 20px; /* Align horizontally */
  background-color: #0f6e91; /* Title background */
  color: white; /* Title text color */
  padding: 0px 20px;
  font-weight: bold;
  border-radius: 15px; /* Slightly rounded title corners */
  white-space: nowrap; /* Prevent text wrapping */
  margin-bottom: -20px; /* Creates negative margin to ensure space outside the border */
}

.MJX-TEX {
  font-family: "Arial Narrow";
}

